html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
  border: none;
  background-color: transparent;
}
button, .email-button {
  border: none;
  outline: none;
  box-shadow: none;

  &:focus,
  &:active {
      border: none;
      outline: none;
      box-shadow: none;
  }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

// ***********************************

body {
  color: #fff;
  background-color: $color-main-bg;
  font-family: $font-primary;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

button{
  &:focus{
    outline: none;
  }
}

h1 {
  font-size: clamp($font-size-h1-min, 0.74rem + 4.309vw, $font-size-h1-max);
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  line-height: $line-height-h1;
}

h2{
  font-size: clamp($font-size-h2-min, 0.856rem + 2.915vi, $font-size-h2-max);
  font-weight: $font-weight-medium;
  line-height: $line-height-smaller;
}

h3 {
  // font-size: $font-size-h3;
  font-size: clamp($font-size-h3-min, 0.581rem + 2.242vi, $font-size-h3-max);
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  line-height: $line-height-h3;
}

h4 {
  font-size: $font-size-h4;
  font-family: $font-secondary;
  font-weight: $font-weight-big;
  line-height: $line-height-h4;
}

h5 {
  font-size: clamp($font-size-h5-min, 0.299rem + 1.345vi, $font-size-h5-max);
  font-family: $font-primary;
  font-weight: $font-weight-medium;
  line-height: $line-height-h5;
}

p {
  font-family: $font-primary;
  font-weight: $font-weight-small;
  line-height: $line-height-big;
}

img {
  max-width: 100%;
}