.big-container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.container{
    max-width: $pc-container;
    padding: 0 10px;
    margin: 0 auto;
}

.section{
  padding: $big-section-padding-x;
}

.header{
    padding: 20px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
      z-index: 50;
    }
}

.nav {
    &__menu-list {
        display: flex;
        align-items: center;
        column-gap: $gap-lg;
    }
    &__signup-btn{
      @include button-filled(20px, 30px);
    }
    &__menu-link{
        transition: color 0.3 ease;
    }
    &__menu-link:hover{
        color: $action-color;
    }
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-start;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
  
    &::before,
    &::after,
    span {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s ease;
    }
  
    &::before {
      top: 0;
    }
  
    &::after {
      bottom: 0;
    }
  
    span {
      width: 18px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  
    &.active {
      &::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
  
      &::after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
  
      span {
        transform: scaleX(0);
      }
    }
  }

.open {
    display: flex !important;
}

.nft__info {
  font-weight: $small-font-weight;

  &-title {
      margin-bottom: 10px;
  }

  &-link {
      font-size: $main-font-size;
      &:hover {
          color: $action-color;
      }
  }

  .nft__author {
      display: flex;
      align-items: center;
      gap: $gap-xxs;
      &-link{
        &:hover {
          color: $action-color;
      }
    }
  }
}