@mixin button-filled($padding-x, $padding-y){
  background-color: $action-color;
  border-radius: $main-border-radius;
  padding: $padding-x $padding-y;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: $gap-xxs;
  line-height: 140%;
  transition: background-color .3s ease;
  &:hover{
    background-color: $action-hover-color;
  }
}

@mixin button-outlined($padding-x, $padding-y){
  background-color: transparent;
  border-radius: $main-border-radius;
  border: 2px solid $action-color;
  padding: $padding-x $padding-y;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: $gap-xxs;
  line-height: 140%;
  transition: background-color .3s ease;
  &:hover{
    background-color: $action-color;
  }
}