@use "sass:math";

@mixin button-filled($padding-x, $padding-y, $color){
  background-color: $color;
  border-radius: $radius-main;
  padding: $padding-x $padding-y;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  column-gap: $spacing-xxs;
  line-height: 140%;
  font-family: $font-primary;
  font-size: $font-weight-small;
  font-weight: $font-weight-medium;
  transition: all .3s ease;
  &:hover{
    background-color: $color-action-hover;
    color: #fff;
  }
}

@mixin button-outlined($padding-x, $padding-y){
  background-color: transparent;
  border-radius: $radius-main;
  border: 2px solid $color-action;
  padding: $padding-x $padding-y;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: $spacing-xxs;
  cursor: pointer;
  line-height: 140%;
  font-family: $font-primary;
  font-size: $font-weight-small;
  font-weight: $font-weight-medium;
  text-transform: capitalize;
  transition: background-color .3s ease;
  &:hover{
    background-color: $color-action;
  }
}

@mixin cards-wrapper{
  display: flex;
  gap: $spacing-md;
  flex-wrap: wrap;
  justify-content: center;
}
