@media (max-width: $breakpoint-pc-to-tablet){
    // Main styles
    h1{
        font-size: $h1-font-size-tablet;
        line-height: $h1-line-height-tablet;
    }
    h4{
        font-size: $h4-font-size-tablet;
    }
    body{
        font-size: $secondary-font-size;
    }
    // Header
    .nav{
        &__menu-list{
            gap: $gap-md;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .container{
        max-width: $tablet-container;
    }
    // Header
    .burger {
      display: flex;
    }
  
    .nav {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
      
        &__menu-list {
          display: flex;
          flex-direction: column;
          gap: $gap-md;
          align-items: center;
        }
      
        &.open {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
        }
      }      
    // Trending
    .trending{
        &__card:nth-child(n+3) {
            display: none;
        }
        &__subtitle{
            margin-bottom: $gap-md;
        }
        &__card-images{
            gap: $gap-xs;
        }
    }
    // Creators
    .creators{
        &__card{
            width: 330px;
            height: 100px;
            grid-template-columns: auto 1fr;
            gap: 0;
        }
        &__card-avatar{
            width: 60px;
            height: 60px;
            grid-column: 1;
        }
        &__card-info{
            justify-items: start;
        }
        &__card-author{
            justify-self: start;
        }
        &__card-rank{
            left: 10px;
            top: 10px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    // Main Styles
    h1{
        font-size: $h1-font-size-mobile;
        line-height: $h1-line-height-mobile;
    }
    // .container{
    //     max-width: $mobile-container;
    // }
    .section{
        padding: $small-section-padding-x 0;
    }
    // Hero
    .hero{
        &__inner{
            grid-template-columns: 1fr;
            justify-items: stretch;
            gap: $gap-xs;
        }
        &__title-wrapper{
            grid-row: 1;
        }
        &__text-wrapper{
            grid-row: 2;
        }
        &__button-wrapper{
            grid-row: 4;
        }
        &__button{
            display: flex;
        }
        &__stats-wrapper{
            grid-row: 5;
        }
        &__preview-wrapper{
            grid-column: 1;
            grid-row: 3;
        }
    }
    // Trending
    .trending{
        &__card:nth-child(n+2) {
            display: none;
        }
    }
    // Creators
    .creators{
        &__top{
            grid-template-columns: 1fr;
        }
        &__btn{
            grid-column: 1;
            grid-row: 3;
        }
        &__cards{
            gap: $gap-sm;
        }
    }
}